.action-checkin,
.action-checkout,
.action-undo,
.action-cancelled-from,
.action-cancelled-to,
.action-share {
	cursor: pointer;
}

td.cancelled {
	text-decoration: line-through;
}

a.unmarked {
	color: rgba(0, 0, 0, 0.87);
}

h1 {
	font-size: 2.92rem;
	margin: 1.9466666667rem 0 1.168rem 0;
}

h2 {
	font-size: 2.28rem;
	margin: 1.52rem 0 .912rem 0;
}

h3 {
	font-size: 1.64rem;
	margin: 1.0933333333rem 0 .656rem 0;
}
