$customColors: (
  'caution': $error-color,
  'info': $info-color,
  'contrast': $off-black,
  'success': $success-color,
);

@each $name, $color in $customColors {
  .#{$name}-color {
    background-color: $color;
  }
  .#{$name}-color-text {
    color: $color;
  }
}

html {
  background-color: $bg-color;
}

a.unmarked {
  color: $off-black;
}

div.targetlist {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  > a.nonflex {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
  }
}

a.tablerow {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  span {
    display: inline-block;
  }
  .material-icons {
    margin-bottom: 0.2em;
  }
}

.pagination {
  li {
    a {
      color: $off-black;
    }
  }
}

.collection-item {
  color: $off-black;
  .secondary-content {
    color: $off-black;
  }
  &.disabled {
    color: $inactive-color;
  }
}
