$customColors: (
  'caution': $error-color,
  'info': $info-color,
  'contrast': $off-black,
  'success': $success-color,
);

@each $name, $color in $customColors {
  .#{$name}-color {
    background-color: $color;
  }
  .#{$name}-color-text {
    color: $color;
  }
}

html {
  background-color: $bg-color;
}

a.unmarked {
  color: $off-black;
}

.pagination {
  li {
    a {
      color: $off-black;
    }
  }
}
