[Unit]
Description=travelynx.finalrewind.org
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
PIDFile=/tmp/travelynx.pid

ExecStart=/usr/bin/hypnotoad -f index.pl
ExecStop=/usr/bin/hypnotoad -s index.pl
ExecReload=/usr/bin/hypnotoad index.pl

User=travelynx
WorkingDirectory=/srv/www/travelynx

Environment=LANG=en_US.UTF-8


[Install]
WantedBy=multi-user.target
