@import '../../node_modules/materialize-css/sass/components/color-variables';
@import 'variables.scss';
@import '../../node_modules/materialize-css/sass/materialize.scss';
@import '../common/index.scss';

.progress {
  background-color: color('grey', 'darken-3');
  & > .determinate {
    background-color: color('blue', 'base');
  }
}

html {
  background-color: $bg-color;
}

input[type=text],
input[type=password] {
	color: $off-black;
}
